*{

margin:0;
padding:0;
}

body{
background-color: #ad6acc;
background-image: url(gustavo.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: end;
}
#images{
    font-size : 2em;
    font-weight: bold;
    margin-top: -1000px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 70vw;
height: 70vh;
display: flex;
justify-content: center;
align-items: flex-start;
}
    div{
    font-size : 2em;
    margin-bottom: 1%;
    width: 11%;
    height: 13%;
    border-radius: 20px;
    background-color: #fffcff;
    display : flex;
    justify-content: center;
    align-items: flex-start;


    }
